{% extends 'NetrunnerdbCardsBundle:Search:display.html.twig' %}

{% block main %}


{% for row in 0..(cards|length-1)//4 %}
<div class="row">
{% for col in 0..3 %}{% set index = row*4+col %}
{% if index in cards|keys %}
{% set card = cards[index] %}
<div class="col-sm-3" style="margin-bottom:30px">
	<a href="{{ card.url }}" class="no-popup"><img src="{{ card.imagesrc }}" style="width:100%" class="img-responsive"></a>
</div>
{% endif %}
{% endfor %}
</div>
{% endfor %}

{% endblock %}
