<form method="GET" action="{{ path('decklists_list', {type:'find'}) }}"
	role="form">
	<div class="row" style="margin-bottom:1em">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="">Side or Faction</label> <select class="form-control"
					id="faction" name="faction">
					<option value="">any</option>
					<option value="Corp"{{ faction_C|default('') }}>Corp</option>
					<option value="haas-bioroid"{{ faction_h|default('') }}>Haas-Bioroid</option>
					<option value="jinteki"{{ faction_j|default('') }}>Jinteki</option>
					<option value="nbn"{{ faction_n|default('') }}>NBN</option>
					<option value="weyland-consortium"{{ faction_w|default('') }}>Weyland</option>
					<option value="Runner"{{ faction_R|default('') }}>Runner</option>
					<option value="anarch"{{ faction_a|default('') }}>Anarch</option>
					<option value="criminal"{{ faction_c|default('') }}>Criminal</option>
					<option value="shaper"{{ faction_s|default('') }}>Shaper</option>
				</select>
			</div>
            <div class="form-group">
				<label for="">Cards used</label>
				{{ cards|default('')|raw }}
				<input type="text" class="form-control" id="card" placeholder="Enter card title">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="">Author name</label> <input type="text"
					class="form-control" id="author" name="author"
					placeholder="Enter author name" value="{{ author }}">
			</div>
			<div class="form-group">
				<label for="">Decklist name</label> <input type="text"
					class="form-control" id="title" name="title" value="{{ title }}"
					placeholder="Enter text to search in title">
			</div>
			<div class="form-group">
				<label for="">Sort</label> <select class="form-control" id="sort"
					name="sort">
					<option value="date"{{ sort_date|default('') }}>by Date</option>
					<option value="likes"{{ sort_likes|default('') }}>by Number of Likes</option>
					<option value="reputation"{{ sort_reputation|default('') }}>by Reputation of Author</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Search</button>
		</div>
		<div class="col-sm-4">
		<p><a data-toggle="collapse" data-target="#allowed_packs" href="#allowed_packs">Select allowed packs</a></p>
		<div id="allowed_packs" class="collapse">
		{% for category in allowed %}
		  <p><small>{{ category.label }}</small></p>
		  {% for pack in category.packs %}
    		<div class="checkbox"><label class="{% if pack.future %}pack-future{% endif %}"><input type="checkbox" name="packs[]" value="{{ pack.id }}" {% if pack.checked %}checked="checked" {% endif %}>{{ pack.label }}</label></div>
    	  {% endfor %}
		{% endfor %}
		</div>
    	</div>
	</div>
</form>
